<div class="header-container">
  <div class="site-title">銀嶺祭</div>
  
  <button class="mobile-menu-toggle" aria-label="メニュー">
    ☰
  </button>
  
  <nav>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="../index.html" class="nav-link">トップ</a>
      </li>
      
      <li class="nav-item">
        <a href="../about/index.html" class="nav-link">銀嶺祭について</a>
        <ul class="dropdown">
          <li><a href="../about/index.html" class="dropdown-link">銀嶺祭概要</a></li>
          <li><a href="../theme/index.html" class="dropdown-link">テーマについて</a></li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a href="../projects/index.html" class="nav-link">企画一覧</a>
      </li>
      
      <li class="nav-item">
        <a href="../access/index.html" class="nav-link">ご案内</a>
        <ul class="dropdown">
          <li><a href="../access/index.html" class="dropdown-link">アクセス</a></li>
          <li><a href="../map/index.html" class="dropdown-link">キャンパスマップ</a></li>
          <li><a href="../pamphlet/index.html" class="dropdown-link">電子版パンフレット</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
